
## <summary>policy for kringleprojectcoin</summary>


########################################
## <summary>
##	Transition to kringleprojectcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`kringleprojectcoin_domtrans',`
	gen_require(`
		type kringleprojectcoin_t, kringleprojectcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, kringleprojectcoin_exec_t, kringleprojectcoin_t)
')


########################################
## <summary>
##	Execute kringleprojectcoin server in the kringleprojectcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kringleprojectcoin_initrc_domtrans',`
	gen_require(`
		type kringleprojectcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, kringleprojectcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search kringleprojectcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kringleprojectcoin_search_lib',`
	gen_require(`
		type kringleprojectcoin_var_lib_t;
	')

	allow $1 kringleprojectcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read kringleprojectcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kringleprojectcoin_read_lib_files',`
	gen_require(`
		type kringleprojectcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, kringleprojectcoin_var_lib_t, kringleprojectcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kringleprojectcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kringleprojectcoin_manage_lib_files',`
	gen_require(`
		type kringleprojectcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, kringleprojectcoin_var_lib_t, kringleprojectcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kringleprojectcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kringleprojectcoin_manage_lib_dirs',`
	gen_require(`
		type kringleprojectcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, kringleprojectcoin_var_lib_t, kringleprojectcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a kringleprojectcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`kringleprojectcoin_admin',`
	gen_require(`
		type kringleprojectcoin_t;
		type kringleprojectcoin_initrc_exec_t;
		type kringleprojectcoin_var_lib_t;
	')

	allow $1 kringleprojectcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, kringleprojectcoin_t)

	kringleprojectcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 kringleprojectcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, kringleprojectcoin_var_lib_t)

')

